:root {
    --c1: #1f1f1f;
    --c2: #16262e;
    --c3: #4d6cfa;
    --c4: #10afaf;
    --c5: #ec4e20;
    --c6: #829191;
    --c7: #efefef;

    --heading-font: 'IBM Plex Mono', sans-serif;
    --text-font: 'Segoe UI', Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Helvetica, sans-serif;
    text-align: center;
    background-color: var(--c7); 
    color: var(--c1);
}

nav {
    text-align: right;
    width: 100%;
    background-color: var(--c1);
    color: var(--c7);
}

a {
    font-family: var(--heading-font);
    color: var(--c7);
    font-size: 18px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 20px 10px;
    text-decoration: none;
}

a:hover {
    color: var(--c4);
    text-decoration: none;
}

header {
    display: flex;
    flex-flow: column;
    height: 95vh;
    width: 100%;
    vertical-align: middle;
    background-color: var(--c1);
    color: var(--c7);
}

#diag {
    position: absolute;
    bottom: -5vh;
}

#aboutflex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 20px 20px 20px;
    padding: 10px;
}

#aboutflex * {
    padding: 0 20px 0 20px;
}

#home {
    float: left;
    margin: 20px 10px 20px 3%;
}

main {
    margin-top: 8vh;
}

nav a:hover {
    color: var(--c4);
    text-decoration: underline;
}

#about {
    width: 60%;
    margin: auto;
    border: 2px solid var(--c4);
    border-radius: 20px;
    overflow: hidden;
}

h1 {
    text-align: left;
    font-family: var(--heading-font);
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 10px 10px 10px 8%;
    margin: 10% 0 0 0;
}

h2 {
    font-family: var(--heading-font);
    font-size: 40px;
    font-weight: 600;
    padding: 25px 20px 20px 20px;
    display: inline-block;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    display: inline-block;
}

h4 {
    font-size: 25px;
}

#subtitle {
    text-align: left;
    padding: 0 0 0 8%;
    line-height: 2;
}

h6 {
    font-family: var(--heading-font);
    display: inline-block;
    color: var(--c4);
}

.fproject {
    border: 1px solid var(--c4);
    border-radius: 20px;
    overflow: hidden;
    text-align: left;
    padding: 10px 15px 20px 15px;
    width: 40%;
    margin: auto;
}

.projsubheading {
    font-size: 30px;
    font-weight: 500;
}

#projects a {
    font-style: italic;
    font-weight: 100;
    font-family: var(--heading-font);
    padding: 0;
    margin: 0 10px 10px 10px;
    color: var(--c7);
    font-size: 16px;
    display: block;
}

#prog {
    display: flex;
    align-items: center;
    justify-content: right;
    align-content: center;
}

#prog p {
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
}

#prog a {
    margin: 0;
    font-size: 0;
}

#prog img {
    display: inline-block;
    filter: invert(100%);
}

p {
    font-size: 20px;
    font-weight: 300;
    padding: 5px 10px 5px 10px;
}

#email * {
    display: inline-block;
}

#email img {
    filter: invert(100%);
    margin: 0 0 0 10px;
}

#gamearea {
    border: 2px solid red;
    margin: 20px 0 60px 0;
}

#sidebar {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 40%;
    right: 0%;
}

#sidebar a {
    padding: 0;
    margin: 0;
    font-size: 0;
}

#sidebar img {
    box-sizing: content-box;
    padding: 20px;
}