:root {
    --c1: #1f1f1f;
    --c2: #efefef;

    --heading-font: 'IBM Plex Mono', sans-serif;
    --text-font: 'Segoe UI', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Helvetica, sans-serif;
    text-align: center;
    background-color: var(--c2); 
    color: var(--c1);
}

h1 {
    text-align: left;
    font-family: var(--heading-font);
    font-size: min(100px, 10vw);
    font-weight: 800;
    letter-spacing: 2px;
}

h2 {
    font-family: var(--heading-font);
    font-size: 40px;
    font-weight: 600;
    padding: 25px 20px 20px 20px;
    display: inline-block;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    display: inline-block;
}

p {
    font-size: 20px;
    font-weight: 300;
    padding: 5px 10px 5px 10px;
}

nav {
    text-align: right;
    width: 100%;
    background-color: var(--c1);
    color: var(--c2);
}

nav a:hover {
    color: white;
}

a {
    font-family: var(--heading-font);
    color: var(--c2);
    font-size: 18px;
    display: inline-block;
    padding: 10px 15px;
    margin: 20px 10px;
    text-decoration: none;
}

#hm {
    float: left;
    margin: 0 10px 0 3%;
    height: 63px;
}

#hm img {
    filter: invert(100%);
    height: 32px;
    position: absolute;
    transform: translateY(50%);
}

#desktopMenu {
    display: none;
}

#desktopMenuReplacement {
    height: 83px; 
}

#mobileMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.inactive {
    display: none !important;
}

@media all and (min-width: 660px) {
    #desktopMenu {
        display: block;
    }

    #hm {
        display: none;
    }

    #desktopMenuReplacement {
        display: none;
    }
}

#mainHeader {
    display: flex;
    flex-flow: column;
    height: 95vh;
    width: 100%;
    vertical-align: middle;
    background-color: var(--c1);
    color: var(--c2);
    justify-content: center;
}

#header-sidebar {
    display: flex;
    justify-content: space-between;
}

#title {
    display: grid;
    padding: 10px 10px 10px 8%;
}

#size {
    color: var(--c1);
    grid-row: 1;
    grid-column: 1;
}

#tr {
    grid-row: 1;
    grid-column: 1;
}

#sidebar {
    display: flex;
    flex-flow: column;
}

#sidebar a {
    padding: 0;
    margin: 0;
    font-size: 0;
}

#sidebar img {
    box-sizing: content-box;
    padding: min(20px, 1.5vw);
    width: min(45px, 7vw);
    height: min(45px, 7vw);
}

#diag {
    height: 5vh;
    width: 100%;
    background-color: var(--c1);
    fill: var(--c2);
}

main {
    margin-top: 6vh;
}

.subtitle {
    font-size: min(25px, 4vw);
    text-align: left;
    padding: 0 0 0 8%;
    line-height: 1.6;
    margin-right: 5%;
}

#aboutflex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    max-width: 900px;
    margin: 0 auto 30px auto;
    justify-content: center;
}

#picture {
    margin: 7px 25px 0 20px;
}

#picture img {
    margin: 0 0 0 auto;
    width: 200px;
    max-width: 30vw;
}

#aboutflex p {
    width: 70%;
    padding: 0;
    min-width: 200px;
}

#skills {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    min-width: min(337px, max(87vw, 257px));
    max-width: 977px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px auto 50px auto;
    justify-content: center;
}

.twoLineSkill {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

@media all and (max-width: 747px) {
    #skills {
        max-height: 640px;
    }
}

.skillShell {
    width: min(160px, max(40vw, 120px));
    height: min(160px, max(40vw, 120px));
}

.skill {
    margin: min(15px, 2vw);
    padding: min(15px, 2vw);
}

.skill img {
    height: min(60px, max(15vw, 45px));
}

.skill p {
    font-size: min(20px, max(5vw, 15px));
}

.proj {
    display: flex;
    flex-flow: row wrap;
    margin: 40px auto;
    max-width: 900px;
    justify-content: center;
}

.project-left {
    margin: 0 1% 0 0;
}

.project-left img {
    width: min(300px, max(250px, 80vw));
    height: min(300px, max(250px, 80vw));
}

.project-right {
    width: 49%;
    min-width: min(90vw, 300px);
    margin: 0 0 0 1%;
    text-align: left;
}

.project-right * {
    margin: 10px;
}

.project-right h3 {
    padding: 10px 10px 0 10px;
    margin: 25px 10px 0 10px;
}

.project-right a {
    padding: 0 0 10px 10px;
    color: var(--c1);
    font-size: 14px;
    margin: 0 0 10px 10px;
    display: block;
}

.stack {
    display: flex;
    align-items: baseline;
    margin-left: 20px;
}

.stack * {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: 18px;
}

#methods {
    display: flex;
    flex-flow: row wrap;
    margin: 20px auto;
    justify-content: center;
}

.contactShell {
    width: 300px;
    height: 180px;
    margin: 0;
    padding: 0;
}

.method {
    padding: 0px;
    color: var(--c1);
}

.method p {
    padding: 0;
}

.method img {
    width: 80px;
    height: 80px;
    margin: 0 0 10px 0;
}

#email {
    font-size: min(20px, max(5vw, 15px));
}

#resume {
    display: block;
    margin: 20px auto;
}

#gamearea {
    border: 2px solid red;
    margin: 20px 0 60px 0;
}
